@model LinkedHUCENGv2.Models.Account
<!DOCTYPE html>
<html lan="en" >
<div id="blur">
    <head>
        <meta charset="utf-8">
        <title>LinkedHU_CENG Login</title>
        <link rel="stylesheet" href="~/css/register.css" type="text/css">
    </head>

<body>
<img id ="logo" src="~/img/logoWhite.svg" style="position:absolute; left: 120px ;top: 30px ;width: 200px ;filter: @ViewBag.blur"/>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div class="box" id = "box" style="filter: @ViewBag.blur">
        <img class="schoolLogo" src="~/img/schoolLogo.svg" alt="SchoolLogo">
        <h1>
            Login
        </h1>
        @if (ViewBag.Text != "")
        {
           <p style="text-align: center">@ViewBag.Text</p>
        }
        <p>@Html.ValidationMessageFor(x => x.Email)</p>
        <input type="email" name="Email" placeholder="Email" id="email">
        <input type="password" name="Password" placeholder="Password" id="password">
        <input type="submit" value="Login">
        <p style="font-size:14px; color:#000000; font-weight:bold;text-align: center; margin-top: 20px">
            New to linkedHUceng?
            <a id="register" href='@Url.Action("Register", "Account")'>
                Register Now!
            </a>
        </p>
    </div>
}
    
</body>
</div>
</html>