@model IEnumerable<LinkedHUCENGv2.Models.Account>
@{
    Layout = "~/Views/Home/layout.cshtml";
}
<!DOCTYPE html>
<html lan="en" style="height: auto;">

    <head>
        <link rel="stylesheet" href="~/css/profile.css?v=3.4.1"/>
        
    </head>
    <div style = "display:flex; justify-content:center; width:100%;">
    <div style = "width:50%;">
    <div class="settingsModal" style = "margin:50px;padding:30px;border:1px solid #F4F1F7;border-radius:10px;">
        <h1 style = "margin-bottom:10px;">
            @ViewBag.UserName's @ViewBag.header
        </h1>
        <table class="table" style = "border-collapse:collapse;width:100%">
            <thead style = "background-color:#F4F1F7;height:50px">
            <tr>
                <th style = "width:10px;border-radius:20px 0 0 20px;">
                </th>
                <th style = "width:40px;"></th>
                <th style = "width:10px;">
                </th>
                <th style = "text-align:left">
                    Name
                </th>
                <th style = "text-align:left">
                    Account Type
                </th>
                <th></th>
                <th style = "width:10px;border-radius:0 20px 20px 0;"></th>
            </tr>
            </thead>
            <tbody style = "border-collapse:separate;height:50px;">
            @foreach (var item in Model) {
                <tr style = "text-align:center">
                    <td style ="padding-top:10px"></td>
                    <td style ="padding-top:10px">
                        <img src="~/img/@item.ProfilePhoto" style=" height: 30px;width:30px; border-radius:10px;position: relative;">
                    </td>
                    <td style ="padding-top:10px"></td>
                    <td style = "text-align:left;padding-top:10px">
                        @Html.DisplayFor(modelItem => item.FirstName)
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td style = "text-align:left;padding-top:10px">
                        @Html.DisplayFor(modelItem => item.AccountType)
                    </td>
                    
                    <td style ="padding-top:10px;width:200px">
                        <a href="~/Profile/ViewProfile?id=@item.Id" style = "background-color:#F4F1F7;font-weight:bold;color:black;text-decoration:none;
                            padding:8px 10px 8px 10px;border-radius:20px;font-size:13px;">View Profile</a>
                    </td>
                    <td style ="padding-top:10px"></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    </div>
    </div>
</html>