@using LinkedHU_CENG.Controllers;

<!DOCTYPE html>
<html lan="en" and dir="Itr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Admin</title>
    <link rel="stylesheet" href="~css/admin.css?v=3.4.1"/>
</head>
<header>
    <div>
        <button class="meButton">Me</button>
    </div>
</header>

<body>
<div class="notifications">
    @foreach (var notification in ViewBag.Notifications)
    {
        <p>@notification.NotificationContent</p>
        <p>Registration Date: @notification.NotificationTime</p>

    }
</div>

<div class="accounts">
        

       
        <a href=@Url.ActionLink("ExportToExcel","Admin")>Download User Details</a>  

        @using (Html.BeginForm("SearchUser", "Admin", FormMethod.Get))
        {
            @Html.TextBox("searchKey")<input type="submit" value="Search"/>
            
        
        }
        @if(ViewBag.UserList.Count==0){
            <p>No Matching</p>
        }else{
            @foreach (var user in ViewBag.UserList)
        {
            
                @using (Html.BeginForm("DeleteUser", "Admin", new { AccountId = user.AccountId }, FormMethod.Post))
                {

                    <p>@user.AccountId</p>
                    <input type="submit" value="Delete"/>
                }
                <button onclick="closePop()">Show details</button>
                <div class="userDetails" id="detail" style="visibility: hidden">
                    <p>@user.FirstName</p>
                    <p>@user.LastName</p>
                    <p>@user.AccountId</p>
                    <p>@user.PhoneNumber</p>
        </div>
        }
        
         
    
        }
        
    
    <h1>hello</h1>
</div>

<div class="leftBar">
    <svg class = "logo"width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M68.46 10.52C67.09 9.05001 65.66 7.52002 64.15 6.03002C62.4967 4.37002 60.87 2.79002 59.27 1.29002C58.4265 0.517394 57.3239 0.0892005 56.18 0.0900147L13.62 1.4598e-05C12.4631 -0.00290792 11.3481 0.433081 10.5 1.22002C7.43 4.06002 4.19 7.29001 1.33 10.35C0.541779 11.194 0.102325 12.3052 0.100002 13.46L1.85104e-06 56C-0.00104568 57.1633 0.442551 58.283 1.24 59.13C4.15 62.21 7.33 65.39 10.38 68.31C11.2222 69.1086 12.3394 69.5526 13.5 69.55L56.01 69.64C57.1874 69.6636 58.3266 69.2216 59.18 68.41C62.25 65.52 65.44 62.34 68.37 59.27C69.1686 58.4278 69.6126 57.3106 69.61 56.15L69.7 13.61C69.6889 12.4609 69.2463 11.358 68.46 10.52ZM45.18 25.31C45.6712 25.4931 46.0878 25.8339 46.3646 26.279C46.6415 26.7242 46.7629 27.2485 46.71 27.77V44.86C46.71 45.1925 46.5786 45.5114 46.3445 45.7475C46.1104 45.9835 45.7924 46.1174 45.46 46.12H41.18C40.8476 46.1174 40.5296 45.9835 40.2955 45.7475C40.0614 45.5114 39.93 45.1925 39.93 44.86V33.59C39.93 33.2585 39.7983 32.9406 39.5639 32.7061C39.3295 32.4717 39.0115 32.34 38.68 32.34H34.84C34.5085 32.34 34.1905 32.4717 33.9561 32.7061C33.7217 32.9406 33.59 33.2585 33.59 33.59V44.86C33.59 45.1925 33.4586 45.5114 33.2245 45.7475C32.9904 45.9835 32.6724 46.1174 32.34 46.12H26.83C26.4976 46.1174 26.1796 45.9835 25.9455 45.7475C25.7114 45.5114 25.58 45.1925 25.58 44.86V13.57C25.58 13.2385 25.7117 12.9206 25.9461 12.6861C26.1805 12.4517 26.4985 12.32 26.83 12.32H32.34C32.6715 12.32 32.9895 12.4517 33.2239 12.6861C33.4583 12.9206 33.59 13.2385 33.59 13.57V24.01C33.59 24.3415 33.7217 24.6595 33.9561 24.8939C34.1905 25.1283 34.5085 25.26 34.84 25.26H39.93L45.18 25.31ZM35.4 56.07C35.4001 56.3964 35.2725 56.7099 35.0446 56.9435C34.8166 57.177 34.5063 57.3122 34.18 57.32H13.58C13.2485 57.32 12.9305 57.1883 12.6961 56.9539C12.4617 56.7195 12.33 56.4015 12.33 56.07V13.57C12.33 13.2385 12.4617 12.9206 12.6961 12.6861C12.9305 12.4517 13.2485 12.32 13.58 12.32H20.28C20.445 12.3187 20.6086 12.3501 20.7614 12.4123C20.9142 12.4745 21.0532 12.5664 21.1704 12.6826C21.2875 12.7988 21.3805 12.937 21.4439 13.0893C21.5073 13.2417 21.54 13.405 21.54 13.57V48.94C21.54 49.2715 21.6717 49.5895 21.9061 49.8239C22.1405 50.0583 22.4585 50.19 22.79 50.19H34.18C34.5115 50.19 34.8295 50.3217 35.0639 50.5561C35.2983 50.7906 35.43 51.1085 35.43 51.44L35.4 56.07ZM51.09 57.32H41.18C41.015 57.3213 40.8514 57.29 40.6986 57.2278C40.5458 57.1655 40.4068 57.0737 40.2896 56.9575C40.1725 56.8412 40.0795 56.703 40.0161 56.5507C39.9527 56.3984 39.92 56.235 39.92 56.07V51.44C39.92 51.275 39.9527 51.1117 40.0161 50.9593C40.0795 50.807 40.1725 50.6688 40.2896 50.5526C40.4068 50.4364 40.5458 50.3445 40.6986 50.2823C40.8514 50.2201 41.015 50.1887 41.18 50.19H49.83C50.1615 50.19 50.4795 50.0583 50.7139 49.8239C50.9483 49.5895 51.08 49.2715 51.08 48.94V21.86C51.0813 21.695 51.05 21.5314 50.9877 21.3786C50.9255 21.2258 50.8336 21.0868 50.7174 20.9697C50.6012 20.8525 50.463 20.7596 50.3107 20.6961C50.1584 20.6327 49.995 20.6 49.83 20.6H39.08C38.7485 20.6 38.4305 20.4683 38.1961 20.2339C37.9617 19.9995 37.83 19.6815 37.83 19.35V13.57C37.83 13.2385 37.9617 12.9206 38.1961 12.6861C38.4305 12.4517 38.7485 12.32 39.08 12.32H56.18L56.38 12.47C56.703 12.6908 56.9644 12.9903 57.1394 13.3403C57.3144 13.6903 57.3972 14.0791 57.38 14.47V55.13C57.4316 55.5571 57.3602 55.9901 57.1742 56.378C56.9882 56.766 56.6953 57.0928 56.33 57.32" fill="white"/>
    </svg>
    <a class = "homelink" href="file:///E:/html%20Projeleri/index/index.html" >
        <svg class = "home" width="45" height="45" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 10C0 4.47715 4.47715 0 10 0L42 0C47.5228 0 52 4.47715 52 10V42C52 47.5228 47.5228 52 42 52H10C4.47715 52 0 47.5228 0 42L0 10Z" />
            <path d="M36.35 23.9384C36.35 23.5787 36.2065 23.2339 35.9513 22.9805L26.9513 14.0421C26.4249 13.5193 25.5751 13.5193 25.0487 14.0421L16.0487 22.9805C15.7935 23.2339 15.65 23.5787 15.65 23.9384L15.65 37.5C15.65 38.2456 16.2544 38.85 17 38.85H21.6667H30.3333H35C35.7456 38.85 36.35 38.2456 36.35 37.5V23.9384Z" stroke="white" stroke-width="2.7" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M21 38V28H31V38" stroke="white" stroke-width="2.7" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </a>
</div>

</body>
<script>
       const popup = document.getElementById("detail");
       function closePop(){
              popup.style.visibility= "visible";
       }
</script>
</html>
