@model Tuple<LinkedHUCENGv2.Models.UserProfileModel, List<LinkedHUCENGv2.Models.PostViewModel>>
@{
    Layout = "~/Views/Home/layout.cshtml";
}
<!DOCTYPE html>
<html lan="en" style="height: auto;">
<head>
        <link rel="stylesheet" href="~/css/feed.css?v=3.4.1"/>
    </head>
<body>
<div style="display:flex;justify-content:center;margin-top:30px">
    <div style="min-width:50%; max-width:50%;">
        @{
            await Html.RenderPartialAsync("~/Views/Post/CreatePost.cshtml", new Post());
        }
        @foreach (var item in Model.Item2)
        {
            <div class="posts " style="background-color:white;margin-bottom:25px;height:fit-content; border-radius:20px;box-shadow: 0px 0px 50px rgba(128, 0, 255, 0.1);">
                <div class = "postColumnContainer">
                    <div style = "width:3em;height:3em;">
                        <img src="~/img/@item.PosterAccount.ProfilePhoto" style=" height: 100%;width:100%; border-radius:10px;position: relative; ">
                    </div>
                    <div>
                        <p style = "font-weight:bold;color:#240046">@item.FirstName @item.LastName</p>
                        <p style = "font-weight:100;color:#995cd3;font-size:13px;">@item.AccountType</p>
                        <div style = "display:inline-grid;grid-template-columns:auto auto;column-gap:5px">
                                @if(item.PostTime >= 24)
                                {
                                    var i =(int) item.PostTime / 24;
                                    var j = (int) item.PostTime % 24;
                                    <p style = "font-weight:100;color:#995cd3;font-size:13px;">@i day @j hours ago</p>
                                }
                                @if(item.PostTime <= 24 && item.PostTime >= 1)
                                {
                                    var s = (int)item.PostTime;
                                    <p style = "font-weight:100;color:#995cd3;font-size:13px;">@s hours ago</p>
                                }
                                @if (item.PostTime < 1)
                                {
                                    var x = Convert.ToInt32(item.PostTime * 60);
                                    <p style = "font-weight:100;color:#995cd3;font-size:13px;">@x minutes ago</p>
                                }
                                
                            <p style = "font-weight:bold;color:#240046;font-size:13px;background-color:#8000ff17;width:fit-content;padding:0 20px 0 20px;border-radius:10px">@item.PostType</p>
                        </div>
                        <p style = "font-weight:300;color:black;margin-top:10px;padding-bottom:20px;border-bottom: 0.5px solid #8080802b;">@item.PostContent</p>
                            <div style = "display:inline-grid;grid-template-columns:auto auto;column-gap:5px">
                            @foreach(var image in item.Images)
                            {
                                <img src="~/img/@image.Name" style="max-height:200px; ">
                            }
                            @foreach(var pdf in item.PDFs)
                            {
                               <a href=@Url.Content("~/pdf/"+ @pdf.Name)>Link </a>
                            }
                            </div>
                        </div>
                    <div style = "display:inline-grid;grid-template-columns:auto auto">
                        @if (User.Identity.Name == @item.Email)
                        {
                            <a>D</a>
                            <a asp-action="DeleteOnFeed" asp-controller="Post" asp-route-id="@item.PostId" asp-route-userId="@item.PosterId" 
                            style = "font-weight:bold;text-decoration:none ; color:black" >X</a>
                        }
                    </div>

                </div>


            </div> 
        }

    </div>
</div>
</body>
</html>