@model Tuple<LinkedHUCENGv2.Models.UserProfileModel, List<LinkedHUCENGv2.Models.PostViewModel>>
@{
    Layout = "~/Views/Home/layout.cshtml";
}
<!DOCTYPE html>
<html lan="en" style="height: auto;">
<head>
        <link rel="stylesheet" href="~/css/feed.css?v=3.4.1"/>
    </head>
<body>
<div style="display:flex;justify-content:center;margin-top:30px">
    <div style="min-width:50%; max-width:50%;">
        @{
            await Html.RenderPartialAsync("~/Views/Post/CreatePost.cshtml", new Post());
        }
        @foreach (var  item in Model.Item2)
        {
            <div class="posts " style="background-color:white;margin-bottom:25px;height:fit-content; border-radius:20px;box-shadow: 0px 0px 50px rgba(128, 0, 255, 0.1);">
                <p>@item.FirstName @item.LastName>
                <p>@item.AccountType</p>
                <p>@item.PostContent</p>
                <p>@item.PostTime</p>
                @if (User.Identity.Name == @item.Email)
                {
                    <a asp-action="DeleteOnFeed" asp-controller="Post" asp-route-id="@item.PostId" asp-route-userId="@item.PosterId">Delete Post</a>
                }
            </div> 
        }
    </div>
</div>
</body>
    <script type = "text/javascript">
        /*myText.style.cssText = `height:${myText.scrollHeight}px;overflow-y:hidden`;*/
        myText.addEventListener("input",function(){
            this.style.height = "auto";
            this.style.height = `${this.scrollHeight}px`
        });
    </script>
</html>