@model Tuple<LinkedHUCENGv2.Models.UserProfileModel, List<LinkedHUCENGv2.Models.Post>>
@{
    Layout = "~/Views/Home/layout.cshtml";
}
<!DOCTYPE html>
<html lan="en" style="height: auto;">

<head>
    <link rel="stylesheet" href="~/css/profile.css?v=3.4.1"/>
    <link href="~/js/userProfile.js"/>
</head>
    
<div class="wrapper" style="position: relative;" style="z-index: 0;">
    <div class="profileBodyContainer">
        <div class="profileBody">
            <img src="~/img/studentback.png" style="width: 100%; border-radius: 20px 20px 0px 0px;height: 75%;">
            <div class="profile-grid-container">
                <div class = "studentProfile" >
                    <img src="~/img/studentProfile.png" style="border-radius:50px;border: 10px solid white;" >
                </div>
                <div class="profileText" >
                    <h1 style="text-align: left;">
                        @Model.Item1.FirstName @Model.Item1.LastName
                    </h1>
                    <p style="text-align: left;font-weight: bolder;">
                        <a asp-controller="Follow" asp-action="GetFollowingList" asp-route-userId="@Model.Item1.Id" style ="text-decoration:none">Followings</a>
                        @Model.Item1.FollowingCount
                        <a asp-controller="Follow" asp-action="GetFollowersList" asp-route-userId="@Model.Item1.Id" style ="text-decoration:none">Followers</a>
                        @Model.Item1.FollowersCount
                    </p>
                    <p style="text-align: left; font-weight: lighter;">
                        @Model.Item1.ProfileBio
                    </p>
                           
                </div>
                <div style="text-align: right;">
                    <button onclick="popup4()" >
                        Settings
                    </button>
                </div>
            </div>
        </div>                
    </div>
    @{ 
        await Html.RenderPartialAsync("~/Views/Post/ViewPosts.cshtml", Model.Item2);
    }
</div>
</html>